.access-div-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 50%;
  height: 100%;

  background-color: var(--backgroundVar2);

  position: relative;

  .div-top-return {
    position: absolute;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    cursor: pointer;

    top: 7vh;

    left: 7vw;

    p {
      font-family: Inter;
      font-size: 16px;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: left;

      color: var(--textColorVar5);
    }
  }

  .access-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 50%;

    gap: 38px;

    .access-header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      gap: 9px;

      width: 100%;

      h2 {
        font-family: "Inter";
        font-size: 24px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;

        color: var(--textColorVar2);
      }

      h3 {
        font-family: "Inter";
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        color: var(--textColorVar3);
      }
    }

    .access-inputs-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 100%;

      gap: 38px;

      .access-inputs-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;

        gap: 16px;

        form {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          width: 100%;

          gap: 25px;

          input {
            all: unset;
            box-sizing: border-box;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            border: 1px solid #bebebe;

            color: var(--textColorVar2);

            padding: 20px;

            border-radius: 4px;

            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0em;

            height: 55px;
            width: 55px;
          }
        }

        p {
          font-family: Inter;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0em;
          text-align: left;

          color: var(--textColorVar3);
        }
      }

      button {
        all: unset;
        box-sizing: border-box;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0em;

        width: 100%;

        background-color: #0d6efd;
        color: white;

        cursor: pointer;

        height: 45px;
        width: 100%;

        border-radius: 4px;
      }
    }
  }
}
