.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  width: 100vw;

  background-color: var(--backgroundVar2);

  .dashboard-first-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    background-color: var(--backgroundVar1);

    min-height: 345px;

    padding: 0 80px;

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      min-height: 85px;

      border-bottom: 0.5px solid var(--textColorVar1);

      padding: 35px 0px;

      .header-div-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;

        p {
          font-family: Inter;
          font-size: 20px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;

          color: var(--textColorVar1);
        }
      }

      .header-div-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;

        cursor: pointer;

        p {
          font-family: Inter;
          font-size: 16px;
          font-weight: 700;
          line-height: 21px;
          letter-spacing: 0em;
          text-align: left;

          color: var(--textColorVar6);
        }
      }

      .header-div-right:hover {
        transform: scale(1.1);
      }
    }
  }

  .user-add-asset {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;
    min-height: 280px;

    padding-top: 56px;

    .div-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      gap: 18px;

      h1 {
        font-family: Inter;
        font-size: 40px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;

        color: var(--textColorVar6);
      }

      p {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;

        color: var(--textColorVar7);
      }
    }

    .div-right {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      button {
        all: unset;
        box-sizing: border-box;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        gap: 18px;

        background-color: #0d6efd;

        height: 44px;
        width: 273px;
        border-radius: 4px;
        padding: 10px 16px 10px 16px;

        cursor: pointer;

        p {
          font-family: Inter;
          font-size: 16px;
          font-weight: 600;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: center;

          color: var(--textColorVar4);

          margin: 0;
        }
      }

      button:hover {
        transform: scale(1.05);
      }
    }
  }

  .dashboard-second-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    min-height: 60.2vh;
    background-color: var(--backgroundVar3);

    padding: 0 80px;

    .dashboard-central-div {
      width: 100%;

      position: relative;
      z-index: 1;

      top: -11vh;

      border-radius: 4px;

      background-color: var(--backgroundVar2);

      nav {
        padding-top: 24px;
      }

      .assets-intro {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        background-color: var(--backgroundVar2);

        width: 100%;

        padding: 58px 80px 48px 80px;

        border-radius: 5px;

        p {
          font-family: Inter;
          font-size: 24px;
          font-weight: 600;
          line-height: 29px;
          letter-spacing: 0em;
          text-align: left;

          color: var(--textColorVar2);
        }
      }

      .assets-display-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: relative;

        width: 100%;

        background-color: var(--backgroundVar2);

        padding: 0 80px;

        .table-header {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          width: 100%;

          border-bottom: 2px solid rgba(128, 128, 128, 0.466);

          padding-bottom: 16px;

          span {
            font-family: Inter;
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
            letter-spacing: 0em;

            color: var(--textColorVar2);
          }

          .company {
            width: 20%;
            text-align: center;
          }

          .identifyer {
            width: 21.5%;
            text-align: center;
          }

          .asset {
            width: 17.5%;
            text-align: center;
          }

          .price {
            width: 21%;
            text-align: center;
          }
        }

        .table-body {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;

          width: 100%;

          .table-asset {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            width: 100%;

            padding: 16px 0;
            padding-left: 16px;
            padding-right: 16px;

            border-bottom: 1px solid rgba(128, 128, 128, 0.486);

            .asset-name {
              font-family: Inter;
              font-size: 16px;
              font-weight: 600;
              line-height: 19px;
              letter-spacing: 0em;
              text-align: center;

              color: var(--textColorVar5);

              text-align: center;

              width: 20%;
            }

            .asset-asset {
              font-family: Inter;
              font-size: 16px;
              font-weight: 500;
              line-height: 19px;
              letter-spacing: 0em;

              color: var(--textColorVar2);

              text-align: center;

              width: 20%;
            }

            .asset-type-acao {
              width: 20%;

              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;

              span {
                font-family: Inter;
                font-size: 16px;
                font-weight: 500;
                line-height: 19px;
                letter-spacing: 0em;

                color: var(--textColorVar2);

                background-color: #79dfc14d;
                border-radius: 4px;
                padding: 4px;

                text-align: center;
              }
            }

            .asset-type-opcao {
              width: 20%;

              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;

              span {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                font-family: Inter;
                font-size: 16px;
                font-weight: 500;
                line-height: 19px;
                letter-spacing: 0em;

                color: var(--textColorVar2);

                background-color: #6edff64d;
                border-radius: 4px;
                padding: 4px;

                text-align: center;
              }
            }

            .asset-price {
              font-family: Inter;
              font-size: 16px;
              font-weight: 500;
              line-height: 19px;
              letter-spacing: 0em;

              color: var(--textColorVar2);

              width: 20%;

              text-align: center;
            }

            .icons {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;

              gap: 80px;

              width: 20%;

              span {
                font-family: Inter;
                font-size: 14px;
                font-weight: 600;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
              }

              .delete {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                gap: 13px;

                cursor: pointer;

                height: 100%;

                span {
                  color: var(--textColorVar8);
                }

                z-index: 3;
              }

              .delete:hover {
                transform: scale(1.05);
              }

              .edit {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                gap: 13px;

                position: relative;

                cursor: pointer;

                span {
                  color: var(--textColorVar5);
                }
              }

              .edit:hover {
                transform: scale(1.05);
              }
            }
          }

          .table-asset:hover {
            background: #cfe2ff4d;
            cursor: pointer;
          }
        }
      }

      .table-pages {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        padding-top: 24px;
        padding-bottom: 37px;

        .pages-back {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          cursor: pointer;

          height: 38px;
          width: 38px;
          border-radius: 4px;

          border: 1px solid #dee2e6;
        }

        .pages-back:hover {
          transform: scale(1.05);
        }

        .pages-forward {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          cursor: pointer;

          height: 38px;
          width: 38px;
          border-radius: 4px;

          border: 1px solid #dee2e6;
        }

        .pages-forward:hover {
          transform: scale(1.05);
        }

        .pages-map {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          cursor: pointer;

          height: 38px;
          width: 38px;
          border-radius: 4px;

          border: 1px solid #dee2e6;
        }

        .pages-map:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}
